 body {
   font-family: Lato, Helvetica, sans-serif;
   text-align: center;
   line-height: 2em;
 }

 h1, h2, h3, h4 {
   text-transform: uppercase;
   color: $highlight;
 }

 h1 {
   font-size: 2.5em;
   line-height: 1.2em;
 }

 h2 {
   font-size: 1.9em;
 }

 h3 {
   font-size: 1.4em;
 }

 h4 {
   font-size: 0.9em;
 }

 p {
   font-size: 1.2em;
   color: $body-copy;
 }

 a {
   text-decoration: none;
   color: $highlight;
 }

